/* ==Reset CSS== */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ==Reset CSS== */

* {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background: #fafafa;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: hsl(229, 6%, 66%);
  line-height: 1.5;
}

.wrap {
  margin: 80px auto 65px;
  padding: 0 40px;
  max-width: 1190px;
}

.h2_ttl {
  font-size: 2.43em;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  text-align: center;
  line-height: 1.4;
}

.h2_ttl .h2_sub {
  font-weight: 600;
}

.ttl_desc {
  margin: 18px 0;
  color: hsl(229, 6%, 66%);
  text-align: center;
}

.h3_ttl {
  margin-bottom: 10px;
  font-size: 1.33em;
  color: hsl(234, 12%, 34%);
}

.cols3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  margin: 67px 0 0;
}

._cols {
  width: calc(33.33% - (30px*2) /3);
}

.card {
  padding: 27px 33px;
  max-width: 350px;
  min-height: 250px;
  background: #fff;
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

._cols .card:not(:last-child) {
  margin-bottom: 30px;
}

.card._supervisor {
  border-top: hsl(180, 62%, 55%) 4px solid;
}
.card._team {
  border-top: hsl(0, 78%, 62%) 4px solid;
}
.card._karma {
  border-top: hsl(34, 97%, 64%) 4px solid;
}
.card._calc {
  border-top: hsl(212, 86%, 64%) 4px solid;
}

.ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: flex-end;
  margin-top: 38px;
}

.attribution {
  font-size: 0.73em;
  text-align: center;
}

.pc_only {
  display: block;
}
.sp_only {
  display: none;
}

@media only screen and (max-width: 768px) {
  .wrap {
    margin: 85px auto 30px;
    padding: 0 31px;
  }
  .h2_ttl {
    font-size: 1.6em;
    line-height: 1.5;
  }
  .h2_ttl .h2_sub {
    font-size: 0.92em;
    letter-spacing: 1.2px;
  }
  .ttl_desc {
    line-height: 1.6;
  }
  .h3_ttl {
    margin-bottom: 5px;
  }
  .desc {
    font-size: 13px;
    line-height: 1.6;
  }
  .ico {
    margin-top: 33px;
  }
  .ico img {
    width: 55px;
  }
  .cols3 {
    margin: 75px 0 0;
  }
  ._cols {
    margin: 0 0 25px;
    width: 100%;
  }
  .card {
    padding: 25px 30px;
    max-width: 100%;
    min-height: 222px;
  }
  ._cols .card:not(:last-child) {
    margin-bottom: 25px;
  }
  .card._supervisor {
    border-top: hsl(180, 62%, 55%) 2px solid;
  }
  .card._team {
    border-top: hsl(0, 78%, 62%) 2px solid;
  }
  .card._karma {
    border-top: hsl(34, 97%, 64%) 2px solid;
  }
  .card._calc {
    border-top: hsl(212, 86%, 64%) 2px solid;
  }
  .attribution {
    margin-bottom: 5px;
    font-size: 0.66em;
  }

  .pc_only {
    display: none;
  }
  .sp_only {
    display: block;
  }
}